<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SchorrEats.com</title>
    <link rel="stylesheet" href="style.css">
    <script>
        // Make sure this is sanatized before inputing into DOM
        var dataBs = <%- JSON.stringify(bootstrap) %>;
    </script>
</head>
<body>
    <%- include partials/star-svg-sprite.ejs %>
    <div id="index"></div>
    <script src="/index.js"></script>
</body>
</html>
