<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SchorrEats.com</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
        <div class="row">
            <div class="col">
                <h1>Signup</h1>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <form action="/signup" method="post" class="signup-form">
                    <div class="form-group">
                        <label for="email">What's your email?</label>
                        <input type="text" name="email" class="form-control required" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="name">What's your name?</label>
                        <input type="text" name="name" class="form-control required" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="password">What do you want your password to be?</label>
                        <input type="password" name="password" class="form-control required" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="code">What's the secret code? (case sensitive)</label>
                        <input type="text" name="code" class="form-control required" id="code" placeholder="what's the secret code?">
                    </div>
                    <button type="submit" class="btn btn-primary btnSubmit validate-form">Submit</button>
                    <a href="/" class="btn btn-default">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>