.photo-uploader {
    .images-list {
        margin-top: 25px;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        // justify-content: space-between;

        .item-holder {
            flex: 0 0 24%;
            margin: 1% 1% 0 0;
            height: 120px;
            overflow: hidden;
            object-fit: cover;

            &:nth-child(4n + 4) {
                margin-right: 0;
            }
        }

        .item-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
