@import "~bootstrap/scss/bootstrap.scss";
@import 'star-ratings';

.pizzalogo {
    margin-right: 5px;
}

.add-restaurant {
    margin-bottom: 50px;
}

.main-table {
    font-size: 12px;

    .rest-row {
        > td:first-child {
            width: 10%;
        }
        > td:nth-child(2) {
            width: 5%;
        }
        > td:nth-child(3) {
            width: 5%;
        }
        > td:nth-child(4) {
            width: 10%;
        }
        > td:nth-child(5) {
            width: 70%;
        }
    }

    .comments-cell {
        padding: 0;

        > table {
            border: none;
            width: 100%;

            tr:first-child td {
                border-top: none;
            }
            tr:last-child {
                border-bottom: none;
            }

            tr {
                td:first-child {
                    width: 10%;
                }
                td:nth-child(2) {
                    width: 72%;
                }
                td:nth-child(3) {
                    width: 18%;
                }
            }
        }
    }
}

.modal-content {
    .star-container {
        width: 200px;
    }
}