.content {
	max-width: 1200px; 
	box-sizing: border-box;
	padding: 0 40px;
	margin: 0 auto;

	h1 {
		border-bottom: 1px solid $lt-grey;
		padding-bottom: 10px; 
		position: relative;
		small {
			position:absolute; right:0; bottom: 10px;
		}
	}
	.row .col-md-6:last-child{
		text-align: right;
	}
}
label[for="username"]{
	display: block;
}