.content {
	max-width: 1200px; 
	box-sizing: border-box;
	padding: 0 40px;
	margin: 0 auto;

	h1 {
		border-bottom: 1px solid $lt-grey;
		padding-bottom: 10px; 
		position: relative;
		small, .btn {
			position:absolute; right:0; bottom: 10px;
		}
	} 
	.row .logout {
		float: right;
	}
	table .align-right{
		text-align: right; 
	}
	.row {
		margin: 0;
	}
	.rating-table table{ 
		width:100%;
		td {
			vertical-align: top;
		}
		.star-cell {
			text-align:right;
			width:140px;
		}
		td:first-child {
			width:105px;
		}
	}
	.contentRow {
		display: none;
	}
	.loaderGif {
		padding: 15px;
		text-align:center;
	}
}

label[for="username"]{
	display: block;
}

.editResturant .modal-footer {
	.btn-default {
		float:left;
	}
}
