.content {
	max-width: 1200px;
	box-sizing: border-box;
	padding: 0 40px;
	margin: 0 auto 60px;

	h1 {
		border-bottom: 1px solid $lt-grey;
		padding-bottom: 10px;
		position: relative;
		small, .btn {
			position:absolute; right:0; bottom: 10px;
		}
	}
	.row .logout {
		float: right;
	}
	table .align-right{
		text-align: right;
	}
	.row {
		margin: 0;
	}
	.restaurantName {
		font-weight:600;
		padding-left:0;
		width:135px;
	}
	.restaurantLocation {
		width:110px;
	}
	.rating-table table{
		width:100%;
		td {
			vertical-align: top;
		}
		.star-cell {
			text-align:right;
			width:140px;
			padding-left:10px;
		}
		td:first-child {
			width:105px;
		}
	}
	.nowrap {
		white-space: nowrap;
	}
	.contentRow {
		display: none;
	}
	.loaderGif {
		padding: 15px;
		text-align:center;
	}
}

label[for="username"]{
	display: block;
}

.editResturant .modal-footer {
	.btn-default {
		float:left;
	}
}
